 
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #000000 solid;
}
.myDiv{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}
a{
    border: 2px indigo solid;
    text-decoration: none;
    color: white;
    background-color: black;
}
a:hover{
    background-color: white;
    color: indigo;
}