{% extends 'base.html.twig' %}
{% block title %}Create New Product{% endblock  %}
{% block body %}
    <h1>Create New Product</h1>
    <form method="post" action="{{ path('product_store') }}">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price"><br><br>
        <button type="submit">Submit</button>
    </form>
{% endblock  %}
