{% extends 'base.html.twig' %}

{% block title %}Delete Product{% endblock  %}

{% block body %}

    <h1>Delete Product</h1>
    <form method="post" action="{{ path('product_delete', {'id': product.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ product.name }}"><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" value="{{ product.price }}"><br><br>
        <button type="submit">DELETE</button>
    </form>
{% endblock  %}

